.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 35em;
  align-self: center;
}

.heading{
  font-size: 14px;
  font-weight: lighter;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
